
<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="info-container">
      <h1 id="title">Welcome!</h1>
    </div>
  </div>
  <br><br>

  <div class="post">
  I am a 4th year PhD Candidate in <a href="http://wilkelab.org">Claus Wilke's lab</a> through the <a href="http://www.biosci.utexas.edu/graduate/eeb/">Ecology, Evolution, and Behavior graduate program</a> at UT Austin.
  My CV (updated 6/17/15) is available <a href="./files/CV_SJSpielman.pdf">here</a>, and my research interests broadly encompass computational molecular evolution, protein evolution, and phylogenetics.
  
  <br><br>
  <b>Contact Information</b>:
  <div class="contact-info">
        <li>
          Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:{{stephanie.spielman@gmail.com}}">stephanie.spielman@gmail.com</a>
        </li>
        <li>
          Github:&nbsp;&nbsp;&nbsp;  <a href="https://github.com/sjspielman">sjspielman</a>
        </li>
        <li>
          Twitter:&nbsp;&nbsp; <a href="https://twitter.com/StephSpiel">@StephSpiel</a>
        </li> 
    </div>
  </div> 

<div class="horiz">  </div> 


    <div id="info-container">
      <h2 id="title2">News and Posts</h2>
    </div>

          <ul class="posts-list">
            {% for post in site.posts %}
              <li class="post-link">
              	<span class="post-date">{{ post.date | date_to_string }}</span>
                <a class="post-title" href="{{ post.url }}">{{ post.title }} </a>
                <div class="post-excerpt" {{ post.excerpt }} </div>
              </li>
              <br><br>
            {% endfor %}
          </ul>

  
  
  
</div>   
</div>
