<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="info-container">
      <h1 id="title">About Me</h1>
    </div>
  </div>
  <br><br>

  <div class="post">
  I am a 4th year PhD Candidate in <a href="http://wilkelab.org">Claus Wilke's lab</a> through the <a href="http://www.biosci.utexas.edu/graduate/eeb/">Ecology, Evolution, and Behavior graduate program</a> at UT Austin.
  My CV (updated 3/18/15) is available <a href="./files/CV_SJSpielman.pdf">here</a>, and my research interests broadly encompass computational molecular evolution, protein evolution, and phylogenetics.
  </div>
  
</div>
