---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


$link-color: #5577b5;
$bg-color: #efefef;
$header-bg-color: #474747;
$header-color: #d7d7d7;
$base-font-size: 16px;

.main-content {
    word-wrap: break-word;
   // padding-left: 17%;
   // padding-right: 17%;
   margin: auto;
   width:65%;
    text-align:left;
}

.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $link-color;
  }
}


.home-img {
    display: block;
    width: 20%;
    margin: auto;
    margin-bottom:1em;
    border:1px solid #021a40;
}


.home h1 {
    font-size: $base-font-size * 2;
    text-align: center;
    margin-bottom: 5%;
    font-weight:500;
}

.post h1 {
    font-size: $base-font-size * 2.25;
    text-align: center;
    font-weight: 500;
}

.post h2 {
    font-size: $base-font-size * 1.9;
    text-align: left;
    margin-left: -0.75em;
    font-weight: 500;
}

.post h3 {
    font-size: $base-font-size * 1.5;
    text-align: left;
    margin-left: -0.75em;
    font-weight: 500;
}

.wrapper-header {
    padding-right: $spacing-unit * 3;
    padding-left: $spacing-unit * 3;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 5;
        padding-left: $spacing-unit / 5;
    }
}

.footer-col-wrapper {
  @include relative-font-size(0.9);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col-1 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 5));
  width:         calc(50% - (#{$spacing-unit} / 5));
}

.post-content li {
 list-style-position: outside;
 list-style-type: disc;
  color: $grey-color-dark;
}


/*
.post-content li:before {
  content: "\f013";
  font-family: 'FontAwesome';
  font-size: $base-font-size*0.725;
  margin:5px 5px 0 -15px;
  float: left;
}*/

.post-link {
  @include relative-font-size(1.2);
}

.footer-col-2 {
  float: right;
}

/**
 * Links
 */
a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: darken($link-color, 10%);
  }

  &:hover {
    color: lighten($link-color, 15%);
    text-decoration: underline;
  }

  .social-media-list &,&:hover {
    text-decoration: none;
    color: $grey-color;

    /*.username {
      text-decoration: underline;
    }*/
  }
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $bg-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}


.wrapper {
   padding-right: $spacing-unit * 5;
   padding-left: $spacing-unit * 5;
    
   @extend %clearfix;

   @include media-query($on-laptop) {
       padding-right: $spacing-unit / 4;
       padding-left: $spacing-unit / 4;
    }
}




.post-meta {
  font-size: $base-font-size * 1.1;
  text-align:center;
  color: #000;
}


.post-list {
  margin-left: 0;
  font-weight:500;
  font-size: $base-font-size *1.25;

  > li {
    margin-bottom: 10px;
    padding-top: 25px;
  }
}


.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  background-color: $header-bg-color;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $header-color;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $header-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $header-bg-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

