<!DOCTYPE html>
<html dir="ltr" lang="en">

{% include head.html %}

<body>
  <div id="main">

    <!-- Hacky navigation bar -->
    <nav><ul>
      <li class="p-Home"><a href="http://sjspielman.org">Navigate Home</a></li>
    </ul></nav>


    <!-- Content -->
    <div id="blogpost" class="section p-blogpost">
      <div class="container">
        {{ content | markdownify }}
      </div>
    </div>

    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
