<!DOCTYPE html>
<html>

  {% include head.html %}
   
  <body id="cover">
    <div class="loader"></div>

    <div id="headline"></div>
    
    {% include header.html %}

        <div class="page-content" id="about-block">
        <div class="wrapper">
        <a class="anchor" id="about"></a>
        <div class="post">
    <br/>
    <h3 class="section-title">About Me</h3>
    <div class="section-content">
        I am a 4th year PhD Candidate in <a href="https://wilkelab.org">Claus Wilke's lab</a> through the <a href="http://www.biosci.utexas.edu/graduate/eeb/">Ecology, Evolution, and Behavior graduate program</a> at UT Austin.
        My CV (updated 11/20/14) is available <a href="./files/SJSpielman_CV.pdf">here</a>, and my research interests broadly encompass computational molecular evolution, protein evolution, and phylogenetics.</p>
       
    </div>

    {% include footer.html %}
  </body>
</html>
