---
layout: default
---

<div class="home">

  <h1 class="page-heading">About Me</h1>

<div>
    <p style="float: center; position: relative; left: 40%;"><img src="/images/me.png" height="150px" width="150px" border="2px" ></p>
    <p>   I am a Research Assisant Professor in the <a href="http://igem.temple.edu"> Institute for Genomics and Evolutionary Medicine</a> at <a href="https://www.temple.edu"> Temple University </a>, in Sergei L. Kosakovsky Pond's lab. I received my Ph.D. from the <a href="http://www.biosci.utexas.edu/graduate/eeb/"> Ecology, Evolution, and Behavior graduate program</a> at UT Austin, through <a href="http://wilkelab.org"> Claus Wilke's lab</a>. My research interests broadly encompass computational molecular evolution, phylogenetics, and comparative genomics, and I have a strong interest in teaching and undergraduate education. Visit my <a href="{{ site.url }}/courses"> Courses page</a> to see classes I have designed and taught. 

<br><br>
In Fall 2018, I will be joining <a href="https://academics.rowan.edu/csm/departments/biologicalSci/index.html">Rowan University's Department of Biological Sciences</a> as tenure-track faculty. Stay tuned for updates!
    </p>
</div>


    <p>
    </p>
    
<!--
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
-->

<!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
